@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  padding: 1pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5pc;
  position: fixed;
  left: 0.5pc;
  top: 1pc;
}

nav > a {
  all: unset;
  height: 2pc;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2pc;
  margin-left: 8pc;
  margin-top: 1pc;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 95%;
  height: 80vh;
  border: 1px solid black;
  padding: 1pc;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2pc;
  width: 95%;
  padding: 1pc;
}

.about > .text {
  width: 60%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  overflow-x: scroll;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1pc;
}

.individualCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px black solid;
  height: 25pc;
  width: 20pc;
  padding: 1pc;
  border-radius: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1pc;
  width: 95%;
  padding: 0 1pc 1pc 0;
}

.contactCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8pc;
  height: 8pc;
  border: 1px solid black;
  border-radius: 20px;
  gap: 1pc;
}

h1 {
  font-size: 3pc;
}

footer {
  width: 100%;
  height: 5pc;
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
  display: flex;
  justify-content: start;
  align-items: center;
}
